@model CoupleGuestlistVM[]

@{
    ViewData["Title"] = "YesDay - Gästlista";
}

<form asp-controller="Couple" asp-action="AddGuest">
    <input type="submit" value="Lägg till">
</form>

    @foreach (var item in Model)
    {
        @item.Firstname
        @item.Lastname
        @item.Address
        @item.Email
        @item.InvitedBy
        @item.GuestTitle
        @item.WeddingCrewTitle
        @item.Rsvp
        @item.FoodPreference
        @item.GuestNote
        <br />
    }
