@model (CoupleGuestlistVM[], CoupleGuestCountVM)

@{
    ViewData["Title"] = "YesDay - Gästlista";
}
<div class="container">
    <div class="row" style="padding-top:35px;">
        <div class="col-6">
            <h3>Gästlista</h3>
        </div>
        <div class="col">
            Antal gäster
        </div>
        <div class="col">
            Kommer
        </div>
        <div class="col">
            Kommer ej
        </div>
        <div class="col">
            Inväntar svar
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <a href="/couple/addguest"><input class="btn btn-light" type="submit" value="Lägg till"></a><br /><br />
        </div>
        <div class="col">
            <h4>|&ensp;&ensp; @Model.Item1.Length &ensp;&ensp;|</h4> 
        </div>
        <div class="col">
            <h4>|&ensp;&ensp; @Model.Item2.GuestCount[0] &ensp;&ensp;|</h4>
        </div>
        <div class="col">
            <h4>|&ensp;&ensp; @Model.Item2.GuestCount[1] &ensp;&ensp;|</h4>
        </div>
        <div class="col">
            <h4>|&ensp;&ensp; @Model.Item2.GuestCount[2] &ensp;&ensp;|</h4>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Förnamn</th>
                        <th scope="col">Efternamn</th>
                        <th scope="col">Adress</th>
                        <th scope="col">Epost</th>
                        <th scope="col">Tillhör</th>
                        <th scope="col">Gästtitel</th>
                        <th scope="col">Bröllopsroll</th>
                        <th scope="col">OSA</th>
                        <th scope="col">Specialkost</th>
                        <th scope="col">Anteckningar</th>
                        @*<th></th>*@
                        <th scope="col"></th>
                        <th scope="col"></th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Item1)
                    {
                        <tr>
                            <td>@item.Firstname</td>
                            <td>@item.Lastname</td>
                            <td>@item.Address</td>
                            <td>@item.Email</td>
                            <td>@item.InvitedBy</td>
                            <td>@item.GuestTitle</td>
                            <td>@item.WeddingCrewTitle</td>
                            <td>@item.GuestStatus[Convert.ToInt32(item.Rsvp)].Text</td>
                            <td>@item.FoodPreference</td>
                            <td>@item.GuestNote</td>
                            <td><a asp-controller="Couple" asp-action="UpdateGuest" asp-route-id="@item.Id">Uppdatera</a></td>
                            <td>
                                <form asp-controller="Couple" asp-action="DeleteGuest" asp-route-id="@item.Id">
                                    <input type="submit" class="btn btn-light" value="Ta bort" />
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>


</div>